{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>MorozovEquipment - Промышленное швейное оборудование</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="robots" content="index,follow">
        <meta name="revisit-after" content="5 days">
        <meta name="keywords" content="MorozovEquipment - Промышленное швейное оборудование">
        <base href="http://127.0.0.1:8000">

        <link rel="stylesheet" href="" type="text/css">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,300italic">
    </head>
<div class="content">
    <div class="slider">
        <div class="slide">текст</div>
        <div class="slide">текст</div>
        <div class="slide">текст</div>
    </div>
    <section id="feature-section">
        <div class="feature-bust">
            <img class="features-img" src="{% static 'main/img/1.jpg' %}" alt="1.jpg">
            <h3>Проф оборудование</h3>
            <p>Мы предлагаем только высококачественное промышленное швейное оборудование от ведущих производителей.</p>
        </div>

        <div class="feature-bust">
            <img class="features-img" src="{% static 'main/img/2.jpg' %}" alt="2.jpg">
            <h3>Опытные специалисты</h3>
            <p>Наша команда состоит из опытных специалистов, готовых помочь вам с любыми вопросами.</p>
        </div>

        <div class="feature-bust">
            <img class="features-img" src="{% static 'main/img/3.jpg' %}" alt="3.jpg">
            <h3>Бесплатная доставка</h3>
            <p>Мы предлагаем бесплатную доставку оборудования по всей стране для вашего удобства.</p>
        </div>

        <div class="feature-bust">
            <img class="features-img" src="{% static 'main/img/4.jpg' %}" alt="4.jpg">
            <h3>Гарантийное обслуживание</h3>
            <p>Мы предоставляем гарантийное обслуживание на все приобретенное у нас оборудование.</p>
        </div>
    </section>
<section id="about-section">
    </head>
    <body>

    <div class="section">
        <div class="left">
            <img src="{% static 'main/img/wallpaper.jpg' %}" alt="Картинка">
        </div>
        <div class="right">
            <h2>О НАС</h2>
            <hr>
            <div class="main-text">
                <p>Мы - компания, специализирующаяся на продаже швейного оборудования популярных брендов. Наша миссия - обеспечить наших клиентов качественным и надежным оборудованием, которое поможет им воплотить свои творческие идеи в реальность. Мы гордимся тем, что предлагаем широкий ассортимент продукции, от швейных машин до аксессуаров, и стремимся к постоянному совершенствованию нашего сервиса. Наша команда профессионалов всегда готова помочь в выборе оборудования, ответить на все вопросы и обеспечить качественное обслуживание. Доверьтесь нам, и ваше швейное дело станет еще более успешным и приятным!</p>
            </div>
            <hr>
            <button class="button" onclick="window.location.href='{% url 'about' %}'">Подробнее</button>
        </div>
    </div>
</section>
<section id="grid-section">
    <h2 style="text-align: center; font-weight: bold;">Бренды, представленные в нашем каталоге:</h2>
    <div class="grid-container">
        <div class="grid-item"><a href="https://www.duerkopp-adler.com/"><img src="{% static 'main/img/durkopp.jpg' %}" alt="durkopp.jpg"></a></div>
        <div class="grid-item"><a href="link_to_kansai_brand_page"><img src="{% static 'main/img/kansai.jpg' %}" alt="kansai.jpg"></a></div>
        <div class="grid-item"><a href="link_to_mitsubishi_brand_page"><img src="{% static 'main/img/mitsubishi.jpg' %}" alt="mitsubishi.jpg"></a></div>
        <div class="grid-item"><a href="link_to_pfaff_brand_page"><img src="{% static 'main/img/pfaff.jpg' %}" alt="pfaff.jpg"></a></div>
        <div class="grid-item"><a href="link_to_seiko_brand_page"><img src="{% static 'main/img/seiko.jpg' %}" alt="seiko.jpg"></a></div>
        <div class="grid-item"><a href="link_to_singer_brand_page"><img src="{% static 'main/img/singer.jpg' %}" alt="singer.jpg"></a></div>
        <div class="grid-item"><a href="link_to_siruba_brand_page"><img src="{% static 'main/img/siruba.jpg' %}" alt="siruba.jpg"></a></div>
        <div class="grid-item"><a href="link_to_yamato_brand_page"><img src="{% static 'main/img/yamato.jpg' %}" alt="yamato.jpg"></a></div>
    </div>
    </section>
<div class="contacts-sidebar">
<div class="contact-button" id="whatsapp">
    <i class="fab fa-whatsapp"></i>
    <span><a class="contact-info" href="https://api.whatsapp.com/send?phone=79165744889">Морозов Владислав</a></span>
    <span><a class="contact-info"><img src="{% static 'main/img/whatsup.jpg' %}" alt="whatsup.jpg"></a></span>
</div>
<div class="contact-button" id="wechat">
    <i class="fa-brands fa-weixin"></i>
    <span><a class="contact-info"><img src="{% static 'main/img/wechat.jpg' %}" alt="wechat.jpg"></a></span>
</div>
<div class="contact-button-number" id="numbers">
    <i class="fa-solid fa-phone"></i>
    <span><a class="contact-info-number" href="tel:+79165744889">+7 (916) 574-48-89</a></span>
    <span><a class="contact-info-number" href="tel:+79031238137">+7 (903) 123-81-37</a></span>
</div>
</div>
</body>
<div class="itop">
<div class="_left">
<script src="/templates/default/js/ddaccordion.js" type="text/javascript"></script>
</div>
</body>
</html>
{% endblock %}
