{% extends 'main/layout.html' %}
{% load static %}

{% block title %}shop{% endblock %}

{% block content %}
<div class="content">
<div class="slider">
    <div class="slide">текст</div>
    <div class="slide">текст</div>
    <div class="slide">текст</div>
</div>

  <div class="category-search">
    <div class="category">
      <a href="{% url 'catalog' %}" style="text-decoration: none; color: black; font-family: 'MS Comic Sans', cursive; font-size: 18x;">КАТАЛОГ</a>
    </div>
    <form class="search-form" action="/search" method="get">
      <input type="text" id="text-to-find" value="" placeholder="Поиск по каталогу" class="fa-regular fa-square-check"autofocus>
      <button class="fa-solid fa-magnifying-glass" type="button" onclick="FindOnPage(); return false;" value=" " title="Найти">
    </form>
  </div>

<div class="row">
    <div class="col-lg-3">
        <div class="left-list">
            <ul class="categoryitems" contentindex="1c" >
                <li>
                    <div class="category-wrapper">
                        <a href="#">Промышленные швейные машины</a>
                        <div class="arrow-wrapper">
                            <span class="arrow">▶</span>
                        </div>
                    </div>
                    <ul class="subcategories" style="display: none; margin-top: 20px;">
                        <li><a href="#">Одноигольные прямострочные</a></li>
                        <li><a href="#">Двухигольные</a></li>
                        <li><a href="#">С рукавной платформой</a></li>
                        <li><a href="#">С колонковой платформой</a></li>
                        <li><a href="#">Длиннорукавные</a></li>
                        <li><a href="#">П-образные платформы</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                            <ul class="sub-subcategories" style="display: none; margin-top: -190px;">
                                <li><a href="#">Цепного стяжка</a></li>
                                <li><a href="#">Зиг-заг</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Оверлоки</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                            <ul class="sub-subcategories" style="display: none; margin-top: -237px;">
                                <li><a href="#">3-х ниточные оверлоки</a></li>
                                <li><a href="#">4-х ниточные оверлоки</a></li>
                                <li><a href="#">5-х ниточные оверлоки</a></li>
                                <li><a href="#">6-х ниточные оверлоки</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Плоскошовные</a></li>
                        <li><a href="#">Цепной стежок</a></li>
                        <li><a href="#">Пуговичные</a></li>
                        <li><a href="#">Закрепочные</a></li>
                        <li><a href="#">Петельные</a></li>
                        <li><a href="#">Поясные</a></li>
                        <li><a href="#">Подшивочные</a></li>
                        <li><a href="#">Скорняжные</a></li>
                        <li><a href="#">Ручного стежка</a></li>
                        <li><a href="#">Декоративного стежка</a></li>
                        <li><a href="#">Мешкозашивочные</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="categoryitems" contentindex="13c">
                <li>
                    <div class="category-wrapper">
                        <a href="#">Автоматические комплексы</a>
                        <div class="arrow-wrapper">
                            <span class="arrow">▶</span>
                        </div>
                    </div>
                    <ul class="subcategories" style="display: none; margin-top: -43px;">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </li>
            </ul>
                <ul class="categoryitems" contentindex="2c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Обувное оборудование</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none; margin-top: -105px;">
                            <li><a href="#">Швейное оборудование</a>
                                <div class="arrow-wrapper">
                                    <span class="arrow">▶</span>
                                </div>
                                <ul class="sub-subcategories" style="display: none;">
                                    <li><a href="#">Одноигольное</a></li>
                                    <li><a href="#">Двухигольное</a></li>
                                    <li><a href="#">Колонковыее</a></li>
                                    <li><a href="#">Рукавные</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Раскройное оборудование</a>
                                <div class="arrow-wrapper">
                                    <span class="arrow">▶</span>
                                </div>
                                <ul class="sub-subcategories" style="display: none;margin-top: -3px;">
                                    <li><a href="#">Вырубные пресса</a></li>
                                    <li><a href="#">Машины для спуска края кожи</a></li>
                                    <li><a href="#">Машины для нарезки ремней и полос кожи</a></li>
                                    <li><a href="#">Машины для обрезки подкладки</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Прессы для приклеивания подошв</a></li>
                            <li><a href="#">Швейные автоматы</a>
                                <div class="arrow-wrapper">
                                    <span class="arrow">▶</span>
                                </div>
                                <ul class="sub-subcategories" style="display: none; margin-top: -97px;">
                                    <li><a href="#">Маркировка заготовок обуви</a></li>
                                    <li><a href="#">Сборка верха обуви</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Прессы для дублирования</a></li>
                            <li><a href="#">Прессы для установки фурнитуры</a>
                                <div class="arrow-wrapper">
                                    <span class="arrow">▶</span>
                                </div>
                                <ul class="sub-subcategories" style="display: none; margin-top: -191px;">
                                    <li><a href="#">Механические прессы</a></li>
                                    <li><a href="#">Пневматические и электрические прессы</a></li>
                                    <li><a href="#">Автоматические прессы</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Оборудование для формования</a></li>
                            <li><a href="#">Ручной инструмент для обработки кожи</a></li>
                            <li><a href="#">Станки для растяжки обуви</a></li>
                            <li><a href="#">Для ремонта обуви</a></li>
                            <li><a href="#">Для обработки края изделия</a>
                                <div class="arrow-wrapper">
                                    <span class="arrow">▶</span>
                                </div>
                                <ul class="sub-subcategories" style="display: none; margin-top: -426px;">
                                    <li><a href="#">Для обработки швов</a></li>
                                    <li><a href="#">Для загибки края</a></li>
                                    <li><a href="#">Для обрезки подкладки</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Для разбивки и перфорации кожи</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="3c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Кожгалантерея</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none; margin-top: -168px;">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="4c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Авточехлы</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none; margin-top: -230px;">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="5c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Для матрасов</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none; margin-top: -292px;">
                            <li><a href="#">Швейные машины для производства матрасов</a></li>
                            <li><a href="#">Чесальные машины</a></li>
                            <li><a href="#">Пухонабивочные машины</a></li>
                            li><a href="#">Оборудование для упаковки матрасов и подушек</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="6c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Для эко ковриков</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none;margin-top: -354px;">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="7c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Для трикотажа</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none;margin-top: -416px;">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="categoryitems" contentindex="8c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Оборудование для ВТО</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none; margin-top: -479px;">
                            <li><a href="#">Промышленные утюги</a></li>
                            <li><a href="#">Промышленные гладильные столы</a></li>
                            <li><a href="#">Гладильные доски</a></li>
                            <li><a href="#">Промышленные парогенераторы</a></li>
                            <li><a href="#">Проходные прессы для дублирования</a>
                                <div class="arrow-wrapper">
                                    <span class="arrow">▶</span>
                                </div>
                                <ul class="sub-subcategories" style="display: none;">
                                    <li><a href="#">Ручные пресса</a></li>
                                    <li><a href="#">Пневматические пресса</a></li>
                                    <li><a href="#">Пресса проходного типа</a></li>
                                    <li><a href="#">Специализированные пресса</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Прессы для термопечати</a></li>
                            <li><a href="#">Приспособления и аксессуары для ВТО</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="9c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Раскройное оборудование</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none; margin-top: -541px;">
                            <li><a href="#">Дисковые раскройные ножи</a></li>
                            <li><a href="#">Вертикальные раскройные ножи</a></li>
                            <li><a href="#">Ленточные ножи</a></li>
                            <li><a href="#">Спекатель-дырокол</a></li>
                            <li><a href="#">Отрезные линейки</a></li>
                            <li><a href="#">Машины для нарезания бейки</a></li>
                            <li><a href="#">Машины для нарезания ленты</a></li>
                            <li><a href="#">Автоматические раскройные комплексы</a></li>
                            <li><a href="#">Настилочное оборудование</a></li>
                            <li><a href="#">Оборудование лоя производства медицинских масок</a></li>
                            <li><a href="#">Мерильно-браковочные машины</a></li>
                            <li><a href="#">Вырубные</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="10c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Вышивальные машины</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none;margin-top: -602px;">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="11c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Стегальные машины</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none; margin-top: -664px;">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="12c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Вязальные машины</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none;margin-top: -726px;">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="0c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Оборудование по Брендам</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none; top: -500px;">
                            <li><a href="#">Brother</a>
                                <div class="arrow-wrapper">
                                    <span class="arrow">▶</span>
                                </div>
                                <ul class="sub-subcategories" style="display: none;">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Durkopp Adler</a></li>
                            <li><a href="#">Kansal Special</a></li>
                            <li><a href="#">KH for Juki</a></li>
                            <li><a href="#">Mitsubishi</a></li>
                            <li><a href="#">Pegasus</a></li>
                            <li><a href="#">Pfaff</a></li>
                            <li><a href="#">Seiko</a></li>
                            <li><a href="#">Singer</a></li>
                            <li><a href="#">Siruba</a></li>
                            <li><a href="#">Yamato</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="categoryitems" contentindex="14c">
                    <li>
                        <div class="category-wrapper">
                            <a href="#">Запчасти</a>
                            <div class="arrow-wrapper">
                                <span class="arrow">▶</span>
                            </div>
                        </div>
                        <ul class="subcategories" style="display: none;margin-top: -850px;">
                            <li><a href="#">Для прямострочных машин</a>
                                <div class="arrow-wrapper">
                                    <span class="arrow">▶</span>
                                </div>
                                <ul class="sub-subcategories" style="display: none;">
                                    <li><a href="#">Лапки</a></li>
                                    <li><a href="#">Игольные комплекты</a></li>
                                    <li><a href="#">Ножи обрезки</a></li>
                                    <li><a href="#">Приспособления</a></li>
                                    <li><a href="#">Окантователи</a></li>
                                    <li><a href="#">Челночные устройства</a></li>
                                    <li><a href="#">Устройства</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Для швейных автоматов</a></li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Для оверлоков</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Лапки</a></li>
                                        <li><a href="#">Игольные комплекты</a></li>
                                        <li><a href="#">Приспособления</a></li>
                                        <li><a href="#">Петлители</a></li>
                                        <li><a href="#">Готовые комплекты расходных швейных запчастей (ЗИП)</a></li>
                                        <li><a href="#">Окантователи</a></li>
                                        <li><a href="#">Ограничительные линейки</a></li>
                                        <li><a href="#">Устройства</a></li>
                                        <li><a href="#">Ножи обрезки</a></li>
                                    </ul>
                                </li>
                            <li><a href="#">Для машин спуска края кожи</a></li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Для плоскошовных машин</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Лапки</a></li>
                                        <li><a href="#">Игольные комплекты</a></li>
                                        <li><a href="#">Устройства</a></li>
                                        <li><a href="#">Готовые компекты расходных швейных запчастей (ЗИП)</a></li>
                                        <li><a href="#">Окантователи</a></li>
                                        <li><a href="#">Приспособления</a></li>
                                        <li><a href="#">Петлители</a></li>
                                    </ul>
                                </li>
                            <li><a href="#">Запчасти к столам и моторам</a></li>
                            <li><a href="#">Для специальных машин</a></li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Для специальных машин</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Лапки</a></li>
                                        <li><a href="#">Окантователи</a></li>
                                        <li><a href="#">Приспособления</a></li>
                                        <li><a href="#">Челночные устройства</a></li>
                                        <li><a href="#">Готовые комплекты расходных швейных запчастей (ЗИП)</a></li>
                                        <li><a href="#">Петлители</a></li>
                                        <li><a href="#">Игольные комплекты</a></li>
                                        <li><a href="#">Ножи обрезки</a></li>
                                        <li><a href="#">Устройства</a></li>
                                        <li><a href="#">Машины для герметизации швов</a></li>
                                    </ul>
                                </li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Для раскройного оборудования</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Лезвия для двоигольных машин</a></li>
                                        <li><a href="#">Лезвия для дисковых ножей</a></li>
                                        <li><a href="#">Заточные камни и ленты</a></li>
                                        <li><a href="#">Доп оборудование для ножей</a></li>
                                        <li><a href="#">Запчасти для отрезных линеек</a></li>
                                        <li><a href="#">Лезвия для сабельных ножей</a></li>
                                        <li><a href="#">Лезвия для ленточных ножей</a></li>
                                        <li><a href="#">Запчасти для ножей</a></li>
                                        <li><a href="#">Раскройные запчасти от SCHMETZ</a></li>
                                        <li><a href="#">Запчасти к машинам для нарезания строп, велкро, бейки</a></li>
                                        <li><a href="#">Запчасти для спекателей</a></li>
                                        <li><a href="#">Лезвия для раскройных комплексов</a></li>
                                    </ul>
                                </li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Акссесуары для раскроя</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Ножницы</a></li>
                                        <li><a href="#">Зажимы и грузы для кроя</a></li>
                                        <li><a href="#">Для маркировки полотна</a></li>
                                        <li><a href="#">Кольчужные перчатки</a></li>
                                    </ul>
                                </li>
                            <li><a href="#">Масло и смазка для ПШМ</a></li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Для гладильного оборудования</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Для гладильных столов</a></li>
                                        <li><a href="#">Для прессов</a></li>
                                        <li><a href="#">Для парогенераторов</a></li>
                                        <li><a href="#">Для утюгов</a></li>
                                    </ul>
                                </li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Светильники для ПШМ</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Крепление винт</a></li>
                                        <li><a href="#">Крепление струбцина</a></li>
                                        <li><a href="#">Крепление магнит</a></li>
                                        <li><a href="#">Запчасти для светильников</a></li>
                                    </ul>
                                </li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Запчасти по брендам</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Hoffman</a></li>
                                        <li><a href="#">Brother</a></li>
                                        <li><a href="#">Golden Wheel</a></li>
                                        <li><a href="#">Kansai</a></li>
                                        <li><a href="#">Pfaff</a></li>
                                        <li><a href="#">Siruba</a></li>
                                        <li><a href="#">Aurora</a></li>
                                        <li><a href="#">Durkopp</a></li>
                                        <li><a href="#">Juki</a></li>
                                        <li><a href="#">Pegasus</a></li>
                                        <li><a href="#">Singer</a></li>
                                        <li><a href="#">Yamato</a></li>
                                        <li><a href="#">Yao Han</a></li>
                                        <li><a href="#">Schmetz</a></li>
                                        <li><a href="#">Прочее</a></li>
                                    </ul>
                                </li>
                            <li><a href="#">Приспособления для промышленных швейных машин</a></li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Приспособления для промышленных швейных машин</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Окантователи</a></li>
                                        <li><a href="#">Приспособления SURUCU</a></li>
                                        <li><a href="#">Устройства</a></li>
                                        <li><a href="#">Приспособления разные</a></li>
                                    </ul>
                                </li>
                            <ul class="subcategories" style="display: none;">
                                <li><a href="#">Швейные аксессуары</a>
                                    <div class="arrow-wrapper">
                                        <span class="arrow">▶</span>
                                    </div>
                                    <ul class="sub-subcategories" style="display: none;">
                                        <li><a href="#">Вентиляторы</a></li>
                                        <li><a href="#">Этикет-пистолеты игольчатые</a></li>
                                        <li><a href="#">Биркодержатели</a></li>
                                        <li><a href="#">Сувенирная продукция</a></li>
                                    </ul>
                                </li>



                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 mb-3"> <!--col-lg-8 отвечает за размер карточек товара-->
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4"> <!--col-lg-4 отвечает за кол-во карточек на линии-->
                        <div class="card h-100">
                            <a href="{% url 'product_page' product.id %}">
                                <img class="card-img-top" src="{{ product.image_main.url }}" alt="">
                                <!--<div class="product-preview">{{ product.image_main }}</div>-->
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'product_page' product.id %}" style="color: rgb(1, 1, 1);">{{ product.name }}</a>
                                </h4>
                                <h5>{{ product.price }} руб.</h5>
                                <a href="{% url 'bag_add' product.id %}" class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                                <div id="cart-success-message" class="success-message">Товар успешно добавлен в корзину!</div>
                                <a href="{% url 'wishlist_add' product.id %}" class="favorite-btn"><i class="fa-solid fa-heart"></i></a>
                                <div id="favorite-success-message" class="success-message">Товар успешно добавлен в избранное!</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}