{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="profile_block">
        <div class="rectangle">
            <h1 class="profile_title" style="color: white; font-family: 'Times New Roman', Times, serif;">Личный кабинет</h1>
            <ul class="profile_page_button">
                <li>
                    <a href="{% url 'orders' %}">
                        <div class="card card_orders">
                            <button class="button_three" style="font-size: 30px;">Заказы</button>
                            <img src="{% static 'icons/order_icon.png' %}" alt="Orders Icon">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'profile' %}">
                        <div class="card card_account">
                            <button class="button_one" style="font-size: 30px;">Личные данные</button>
                            <img src="{% static 'img/149990.png' %}" alt="Account Icon">
                        </div>
                    </a>
                </li>
                {% if user.is_superuser or user.is_staff %}
                    <li>
                        <a href="{% url 'wishlist' %}">
                            <div class="card card_favorites">
                                <button class="button_two" style="font-size: 30px;">Избранное</button>
                                <img src="{% static 'icons/favorites_icon.png' %}" alt="Favorites Icon">
                            </div>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="#">
                            <div class="card card_favorites">
                                <button class="button_two" style="font-size: 30px;">Избранное</button>
                                <img src="{% static 'icons/favorites_icon.png' %}" alt="Favorites Icon">
                            </div>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}">
                        <div class="card card_logout">
                            <button class="button_four" style="font-size: 30px;">Выйти</button>
                            <img src="{% static 'icons/logout_icon.png' %}" alt="Logout Icon">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--<img class="brief_profile" src="{% static 'main/img/cups_table.jpg' %}">-->
    </div>
</body>

<div class="contacts-sidebar">
<div class="contact-button" id="whatsapp">
    <i class="fab fa-whatsapp"></i>
    <span><a class="contact-info" href="https://api.whatsapp.com/send?phone=79165744889">Морозов Владислав</a></span>
    <span><a class="contact-info"><img src="{% static 'main/img/whatsup.jpg' %}" alt="whatsup.jpg"></a></span>
</div>
<div class="contact-button" id="wechat">
    <i class="fa-brands fa-weixin"></i> 
    <span><a class="contact-info"><img src="{% static 'main/img/wechat.jpg' %}" alt="wechat.jpg"></a></span>
</div>
<div class="contact-button-number" id="numbers">
    <i class="fa-solid fa-phone"></i>
    <span><a class="contact-info-number" href="tel:+79165744889">+7 (916) 574-48-89</a></span>
    <span><a class="contact-info-number" href="tel:+79031238137">+7 (903) 123-81-37</a></span>
</div>
</div>
</html>
{% endblock %}